body {
    padding: 0;
    margin: 0;
    font-family: "Istok Web", sans-serif;;
}

#col {
    vertical-align: top;
}

#collections {
    vertical-align: top;
    width: 400px;
}

#coins-column {
    padding-left: 20px;
    vertical-align: top;
}

.header {
    height: 50px;
    background: steelblue;
    font-size: 40px;
}

.coin-pos {
    text-align: center;
}

.coin-name {
    max-width: 300px;
}

.current-col {
    font-weight: bold;
    /*background: url("images/tree2.gif") no-repeat 51px 0;*/
}

.col-type-name {
    /*padding-top: 2px;
    padding-left: 17px;*/
    font-size: 20px;
    cursor: pointer;
    /*background: url("images/tree3.gif") no-repeat 0 0;*/
    border-bottom: solid 1px #f5f5f5;
    padding: 8px 10px;
}

.col-type-name:hover {
    color: #bb0000;
    background: #f5f5f5;
}

.col-region-name:hover {
    color: #bb0000;
    background: #f5f5f5;
}

.col-region {
    font-size: 18px;
    line-height: 1.5em;
    cursor: pointer;
    color: #313131;
    border-bottom: solid 1px #f5f5f5;

}

.col-region-name {
    padding: 4px 10px 4px 35px;

}

.col-country-name:hover {
    color: #bb0000;
    background: #f5f5f5;
}

.col-country {
    font-size: 16px;
    line-height: 1.5em;
    cursor: pointer;
    color: #313131;
    border-bottom: solid 1px #f5f5f5;

}

.col-country-name {
    padding: 4px 10px 4px 60px;
    /*padding-top: 2px;
    padding-left: 51px;*/
}

.col-name:hover {
    color: #bb0000;
    background: #f5f5f5;
}

.col-name {
    cursor: pointer;
    border-bottom: solid 1px #f5f5f5;
    line-height: 1.5em;
    color: #313131;
    font-size: 14px;
    text-align: left;
    padding: 4px 10px 4px 85px;;
    /*background: url("images/tree1.gif") no-repeat 51px 0;*/
}

/*.collapsed-country {
    background: url("images/tree3.gif") no-repeat 34px 0;
}

.expanded-country {
    background: url("images/tree2.gif") no-repeat 34px 0;
}

.collapsed-type {
    background: url("images/tree3.gif") no-repeat 0 0;
}

.expanded-type {
    background: url("images/tree2.gif") no-repeat 0 0;
}
.collapsed-region {
    background: url("images/tree3.gif") no-repeat 17px 0;
}

.expanded-region {
    background: url("images/tree2.gif") no-repeat 17px 0;
}*/

.coins-number {
    border: 0;
    text-align: right;
    max-width: 40px;
    margin-right: 5px;
    font-size: 16px;
    font-weight: 700;
}
.coins-number-0 {
    color: #999;
}


.coins-count-column {
    max-width: 20px;
}

label {
    width: 32px;
    height: 26px;
    display: block;
    position: relative;
}

input[type="checkbox"] + span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /*background: url(images/checkbox.png) no-repeat;*/
    cursor: pointer;
}

input[type="checkbox"]:checked + span {
    background-position: 0 -26px;
}

.card {
    display: inline-block;
    text-align: center;
    padding: 10px;
}

.bons-card {
    width: 460px;
}

.coins-card {
    width: 250px;
    vertical-align: top;
}

.coins-card img {
    max-width: 200px;
}

.bons-card img {
    max-width: 350px;
    max-height: 150px;
}

.card-name {
    font-size: 16px;
}

.card-year {
    color: #999;
    display: inline-block;
    padding-left: 5px;
    font-size: 10px;
}

.card-mint {
    display: inline-block;
    color: #999;
    padding-left: 2px;
    font-size: 10px;
}
.card-input {
    display: inline-block;
}

